body {
    color: whitesmoke;
}

#finalScore {
    color: rgba(255, 255, 0, 0.5);
}

#highScoresList {
    list-style: none;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.high-score {
    font-size: 1.8rem;
    margin-bottom: .1rem;
}

body {
    color:whitesmoke;
    font-family: Helvetica, sans-serif;
}

:root {
    background-color: rgb(32, 30, 42);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.54;
    font-family: Helvetica, sans-serif;
}

h1 {
    font-size: 3.5rem;
    color: white;
    margin-bottom: 3rem;
    text-decoration: underline;
}

h2 {
    font-size: 2rem;
    margin-bottom: 4rem;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
}

img {
    margin-top: 3.5rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

.btn {
    font-size: 2.4rem;
    width: 30rem;
    text-align: center;
    text-decoration: none;
    color: whitesmoke;
    background: linear-gradient(90deg, rgb(82, 107, 161) 0%, rgb(82, 107, 161) 100%);
    border-radius: 4px;
    padding: 2rem;
    margin-bottom: 13px;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(8, 114, 244, .6);
    transition: transform(150ms);
    transform: scale(1.03);
}

.btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

#highscore-btn {
    background: linear-gradient(90deg, rgb(148, 145, 46) 0%, rgb(123, 117, 46) 100%);
    color: whitesmoke;
}

#highscore-btn:hover {
    box-shadow: 0 0.4rem 1.4rem 0 rgba(255, 255, 0, 0.5);
}

.fa-crown {
    font-size: 2.5rem;
    margin-left: 1rem;
}

/*SMALL SCREEN*/
@media screen and (max-width: 767px) {
    h1 {
        font-size: 4rem;
    }
}
/*MOBILE*/
@media screen and (max-width: 400) {
    h1 {
        font-size: .5rem;
    }
}